.reset-password-page{
    background-color: #f9f9f9;
  padding: 1%;
  height: 100vh;
}

.reset-password-container{
    text-align: center;
}

.reset-email input[type="email"],
.reset-password input[type="password"]{
    width: 25%;
    padding:10px;
    border: none;
}

.reset-email, .reset-password{
    margin: 20px;
}


.login-back-btn, .btn-reset{
    border: none;
    background-color: rgb(182, 109, 251);
    padding: 10px;
}
.login-back-btn:hover, .btn-reset:hover{
    background-color: rgb(162, 71, 247);
}